body{
    background-color: aqua;
}

h1{
    color: rgb(235, 13, 235);   
    text-align: center;
    margin: 10px;
    font-size: 50px;
    
}

h2{   
    color: silver;
    text-align: center;
    background-color: blue;
    
}
p{  
    font-size: 15px;
    color: black;
    text-indent: 50px;
}
.p1{

    font-weight: bold;
    color: blue;
    font-size: 22x;
}
ul{

    display: inline;
    text-decoration: none;  
    margin-right: 1105px;  
}
li{

    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid red;
    border-left-color: blueviolet;
    border-left-width: 10px;
    padding: 6px;
    background-color: rgb(192, 183, 183);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1105px;
}
li a{

    text-decoration: none;  
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;      
}
.fundo{

    background: white;
    margin-left: 250px ;
    margin-top: -16%;
    margin-bottom: 2%;
}






